#navbar {
    background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
}

#_menu {
    background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
}

.logo {
    width: 40px;
    max-width: fit-content;
    height: 40px;
    max-height: fit-content;
}

#logo {
    display: inline-flex;
}